*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #000000bf;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1rem;
}

.current {
  background: #000;
  padding: 8px 12px;
  border-radius: 24px;
  color: white;
}

.section-header {
  font-size: 1rem;
  margin-bottom: 12px;
  font-weight: 800;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-logo {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.5rem;
    }
  }

  .navbar-menu-list {
    display: flex;
    gap: 1rem;
    font-weight: 600;
  }

  .navbar-menu-icon-list {
    display: flex;
    gap: 1rem;
    font-weight: 600;

    i {
      padding: 0.5rem;
      border: 1px solid #d3d3d3;
      border-radius: 50%;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 146px;
  text-align: center;
  gap: 16px;

  .hero-intro {
    img {
      border-radius: 50%;
    }
    h1 {
      font-size: 32px;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }

  .hero-links {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* Button to utility? */

    .hero-inner-links {
      .button-dark {
        background: #000;
        padding: 8px 8px;
        color: #fff;
        border-radius: 5px;
      }

      .button-white {
        background: #fff;
        padding: 8px 8px;
        color: #000;
        border: 1px solid;
        border-radius: 5px;
      }
    }

    .hero-outer-links {
      a {
        padding: 5px;
        color: #000;
      }
    }
  }
}

.about-section {
  margin: 3rem auto;
}

.tech-section {
  margin: 3rem auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;

    li {
      padding: 5px 5px;
      background-color: hsla(0, 0%, 83%, 0.65);
      font-weight: 600;
      border-radius: 4px;
    }
  }
}

.projects-section {
  margin: 3rem auto;

  .projects-section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .project-item {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 16px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;

    .project-item-description-text {
      margin-top: 8px;
      font-size: 14px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 13px;
      margin-top: 8px;

      li {
        padding: 3px 3px;
        background-color: hsla(0, 0%, 83%, 0.65);
        /* font-weight: 600; */
        font-size: 10px;
        border-radius: 4px;
      }
    }

    i {
      font-size: 2rem;
    }
  }
}

footer {
  border-top: 1px solid #d3d3d3;
  margin: 3rem auto 0;

  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .footer-logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      h1 {
        font-size: 1.5rem;
      }
    }

    .footer-links {
      display: flex;
      justify-content: space-between;

      .footer-left {
        p {
          font-size: 12px;
          margin: 8px 0;
        }
      }

      .footer-right {
        display: flex;

        a {
          padding: 7px;
          font-size: 2rem;
        }
      }
    }
  }
}
