*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #000000bf;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1rem;
}

.current {
  background-color: #000;
  padding: 8px 12px;
  border-radius: 24px;
  color: white;
}

.page-header {
  font-size: 2.5rem;
  text-align: center;
}

.section-header {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 800;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;

  .navbar-logo {
    display: flex;
    align-items: center;

    h1 {
      margin: 0 5px;
      font-size: 1.5rem;
    }
  }

  .navbar-menu-list {
    display: flex;
    gap: 1rem;
    font-weight: 600;

    a {
      /* background: #b8b7b7; */
      padding: 8px 12px;
      border-radius: 24px;
      color: #000;

      &:hover {
        background-color: #eaeaeac3;
      }

      &.current {
        background-color: #000;
        color: white;

        &:hover {
          background-color: #000000a3;
        }
      }
    }
  }

  .navbar-menu-icon-list {
    display: flex;
    gap: 1rem;
    font-weight: 600;

    i {
      padding: 0.5rem;
      border: 1px solid #d3d3d3;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 146px;
  text-align: center;
  gap: 16px;

  .hero-intro {
    img {
      border-radius: 50%;
    }
    h1 {
      font-size: 32px;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }

  .hero-links {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* Button to utility? */

    .hero-inner-links {
      .button-dark {
        background-color: #000;
        padding: 8px 8px;
        color: #fff;
        border-radius: 5px;

        &:hover {
          background-color: #000000c7;
        }
      }

      .button-white {
        background-color: #fff;
        padding: 8px 8px;
        color: #000;
        border: 1px solid;
        border-radius: 5px;

        &:hover {
          background-color: #dddddd;
        }
      }
    }

    .hero-outer-links {
      a {
        padding: 5px;

        &:hover {
          color: #00000083;
        }
      }
    }
  }
}

.about-section {
  margin: 3rem auto;
}

.tech-section {
  margin: 3rem auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;

    li {
      padding: 5px 5px;
      background-color: hsla(0, 0%, 83%, 0.65);
      font-weight: 600;
      border-radius: 4px;
    }
  }
}

.projects-section {
  margin: 3rem auto;

  .projects-section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .project-item {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 16px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .project-item-description-text {
      margin-top: 8px;
      font-size: 14px;
      flex: 3;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 13px;
      margin-top: 8px;

      li {
        padding: 3px 3px;
        background-color: hsla(0, 0%, 83%, 0.65);
        /* font-weight: 600; */
        font-size: 10px;
        border-radius: 4px;
      }
    }

    i {
      font-size: 2rem;
    }

    &:hover {
      background-color: #eaeaeac3;
    }
  }
}

footer {
  border-top: 1px solid #d3d3d3;
  margin: 3rem auto 0;

  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .footer-logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      h1 {
        font-size: 24px;
      }
    }

    .footer-links {
      display: flex;
      justify-content: space-between;

      .footer-left {
        a:hover {
          color: #00000083;
        }
        p {
          font-size: 12px;
          margin: 8px 0;
        }
      }

      .footer-right {
        display: flex;

        a {
          padding: 7px;
          font-size: 2rem;

          &:hover {
            background-color: #eaeaeac3;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

/* About Page */

.about-me-section {
  margin-top: 146px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  img {
    width: 100%;
  }
}

.about-tech-section {
  margin-top: 3rem;

  i {
    font-size: 50px;
  }
}

/* TODO utility class for work and education item */

.work-section {
  margin-top: 3rem;

  .work-list {
    display: flex;
    flex-direction: column;
    gap: 26px;

    .work-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      .work-period {
        font-weight: 700;
        flex: 1;
      }

      .work-description {
        flex: 1;

        h3 {
          font-size: 14px;
          margin-bottom: 10px;
        }

        ul {
          list-style-type: disc;
        }
      }
    }
  }
}

.education-section {
  margin-top: 3rem;

  .education-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .education-period {
      font-weight: 700;
      flex: 1;
    }

    .education-description {
      flex: 1;

      h3 {
        font-size: 14px;
        margin-bottom: 10px;
      }

      ul {
        list-style-type: disc;
      }
    }
  }
}

/* Contact page*/

.contact-section {
  margin-top: 146px;

  .contact-text {
    text-align: center;
    margin-top: 16px;
  }

  .contact-form {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .input-group {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
      }

      input,
      textarea {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #d3d3d3;
        border-radius: 10px;
        display: block;
        font-family: inherit;
        font-size: 16px;

        &:focus {
          outline: none;
        }
      }

      textarea {
        height: 200px;
        resize: none;
      }
    }
  }

  button {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 12px;
    font-size: 16px;

    &:hover {
      background-color: #000000cd;
    }
  }
}
